<form method="post" action="{{ path('admin_onglet_delete', {'id': onglet.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer l'onglet ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ onglet.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
