.imageCard
{
    height: 300px;
    object-fit: cover;
}

.imageCarousel
{
    height: 600px;
    object-fit: cover;
}

.imageDetailProduct
{
    height: 500px;
    object-fit: cover;
}

.logo {
    height: 100px;
  }
