{% extends "base.html.twig" %}

{% block body %}

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://destinationdetente.weebly.com/uploads/4/8/5/6/48562933/4238816_orig.jpg" class="d-block w-100 imageCarousel" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://destinationdetente.weebly.com/uploads/4/8/5/6/48562933/1539156_orig.jpg" class="d-block w-100 imageCarousel" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://destinationdetente.weebly.com/uploads/4/8/5/6/48562933/751872_orig.jpg" class="d-block w-100 imageCarousel" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


  <section class="bg-secondary">
    <div class="container py-5">
    <div class="row">
          <div class="col-12">
            <h3 class="text-center text-white">Les onglets</h3>
          </div>  

          {% for onglet in onglets %}

              <div class="col-sm-12 col-md-6 col-lg-4 mt-3">

                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">{{ onglet.name }}</h5>
                          <a href="{{ path('boutique_blogpost_detail',{'id':onglet.id}) }}" class="btn btn-primary w-100">Consulter</a>
                      </div>
                  </div>
          
              </div>
              
          {% endfor %}

      </div>
    </div>
  </section>

  <section>
  <div class="container py-5">
      <div class="row">
        <div class="col-12">
          <h3 class="text-center">Informations et contacts</h3>
        </div>  

            <div class="col-sm-12 col-md-6 col-lg-4 mt-3">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Informations pratique</h5>
                        <a href="#" class="btn btn-primary w-100">Consulter</a>
                    </div>
                </div>
                  <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Nous contacter</h5>
                        <a href="#" class="btn btn-primary w-100">Consulter</a>
                    </div>
                </div>
        
            </div>

    </div>
     </div>
  </section>
   



{% endblock %}