{% extends 'base.html.twig' %}

{% block title %}Onglet index{% endblock %}

{% block body %}
   <div class="container py-5">

    <div class="row">

    {% include "_messages_flash.html.twig" %}

        <div class="col-12 d-flex align-items-center justify-content-between">
            <h3>Liste des onglets</h3>
        </div>

        <hr>

        {% for onglet in onglets %}

            <div class="col-sm-12 col-md-6 col-lg-4">
               <div class="card bg-dark text-white">
                        <div class="card-img-overlay">
                        <h5 class="card-title">{{ onglet.name }}</h5>
                        <a href="{{ path('boutique_onglet_show',{ 'id' : onglet.id } ) }}" class="btn btn-outline-light">Voir l'onglet </a>
                    </div>
                </div>
        
            </div>
            
        {% endfor %}

        <hr> 
        
    


    </div>

  </div>
{% endblock %}