{% extends 'base.html.twig' %}

{% block title %}New Blogpost{% endblock %}

{% block body %}
    <h1>Create new Blogpost</h1>

    {{ include('blogpost/_form.html.twig') }}

    <a href="{{ path('blogpost_index') }}">back to list</a>
{% endblock %}
